@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

body {
  /* background-color: #eeeeee; */
  font-family: 'Cormorant Garamond', serif;
}

.navbar {
  font-family: 'Cormorant Garamond', serif;
  font-size: large;
}

.container {
  position: relative;
  text-align: left;
  font-family: 'Cormorant Garamond', serif;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 46px;
  font-size: 40px;
  line-height: 0.8;
}

.banner {
  width: 60%;
  height: auto;
}
